{% extends 'base.html' %}
{% block title %}
  Последние обновления в вашей ленте
{% endblock %}
{% block content %}
  {% include 'posts/includes/switcher.html' %}
  <div class="container py-1">
    <h1> Последние обновления в вашей ленте </h1>
    {% for post in page_obj %}
      {% include 'posts/includes/post.html' %}
      <a href="{% url 'posts:post_detail' post.pk %}">
        подробная информация</a><br/>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">
          все записи группы</a>
      {% endif %} 
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}